body {
  margin: 0px;
}

.header-container {
  display: flex;
  background-color: lightpink;
  justify-content: space-between;
}

.side-nav-container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
